<form (ngSubmit)="save()" [formGroup]="userForm">
  <div mat-dialog-title class="dialog-title">
    <div class="avatar-container">
      <img *ngIf="defaults.picture" (click)="updateImage()" [src]="defaults.picture" class="avatar" mat-mini-fab
        matTooltip="Change photo">
      <img *ngIf="!defaults.picture" (click)="updateImage()" src="../../../../assets/avatar.png" class="avatar"
        mat-mini-fab matTooltip="Change photo">
    </div>

    <div class="text-container">
      <h2 *ngIf="userForm.get('firstName')?.value">
        {{ userForm.get('firstName')?.value }} {{ userForm.get('lastName')?.value }}
      </h2>
      <h2 *ngIf="!userForm.get('firstName')?.value">New User</h2>
    </div>

    <div class="button-container">
      <button mat-dialog-close mat-mini-fab color="primary" type="button">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <mat-tab-group [disableRipple]="false">
    <mat-tab label="Description">
      <mat-dialog-content class="dialog-container">
        <div>
          <p style="float: right !important;" *ngIf="mode==='update'">register date:
            {{userForm.get('registerDate')?.value.substring(0,10)}}</p>
        </div>

        <mat-form-field *ngIf="pictureChange" class="input-long">
          <mat-label>Picture url</mat-label>
          <input cdkFocusInitial formControlName="picture" matInput>
        </mat-form-field>

        <div class="container-fields">
          <mat-form-field>
            <mat-label>Title</mat-label>
            <mat-select formControlName="title">
              <mat-option value=""></mat-option>
              <mat-option *ngFor="let title of listTitle" [value]="title">{{title}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field style="margin-left: 5px;">
            <mat-label>Date of Birth</mat-label>
            <input formControlName="dateOfBirth" [matDatepicker]="dateOfBirth" (click)="dateOfBirth.open()"
              (focus)="dateOfBirth.open()" matInput required readonly>
            <mat-datepicker-toggle [for]="dateOfBirth" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #dateOfBirth></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="container-fields">
          <mat-form-field>
            <mat-label>First Name</mat-label>
            <input cdkFocusInitial formControlName="firstName" matInput minlength="2" maxlength="50" required>
            <mat-error *ngIf="!userForm.get('firstName')?.valid">
              * Preenchimento obrigatório.
            </mat-error>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>

          <mat-form-field style="margin-left: 5px;">
            <mat-label>Last Name</mat-label>
            <input formControlName="lastName" matInput minlength="2" maxlength="50" required>
            <mat-error *ngIf="!userForm.get('lastName')?.valid">
              * Preenchimento obrigatório.
            </mat-error>
          </mat-form-field>
        </div>

        <mat-form-field>
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender">
            <mat-option value=""></mat-option>
            <mat-option *ngFor="let gender of listGender" [value]="gender">{{gender}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
          <mat-error *ngIf="userForm.hasError('email')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Phone</mat-label>
          <input formControlName="phone" [ngModel]="formatPhone | formatPhonePipe" matInput>
        </mat-form-field>
      </mat-dialog-content>
    </mat-tab>

    <mat-tab label="Address">
      <mat-dialog-content class="dialog-container" formGroupName="location">
        <mat-form-field>
          <mat-label>Street</mat-label>
          <input formControlName="street" matInput>
        </mat-form-field>

        <div class="container-fields">
          <mat-form-field>
            <mat-label>City</mat-label>
            <input formControlName="city" matInput>
          </mat-form-field>

          <mat-form-field style="margin-left: 5px;">
            <mat-label>State</mat-label>
            <input formControlName="state" matInput>
          </mat-form-field>
        </div>

        <mat-form-field>
          <mat-label>Country</mat-label>
          <input formControlName="country" matInput>
        </mat-form-field>
      </mat-dialog-content>
    </mat-tab>
  </mat-tab-group>

  <mat-dialog-actions align="end">
    <button *ngIf="isCreateMode()" [disabled]="!userForm.valid" color="primary" mat-raised-button type="submit"
      matTooltip="Create new User">
      <mat-icon>add</mat-icon>
      Create
    </button>
    <button *ngIf="isUpdateMode()" color="primary" mat-raised-button type="submit" matTooltip="Update">
      <mat-icon>edit</mat-icon>
      Update
    </button>
    <button type="button" *ngIf="isUpdateMode()" (click)="deleteUser()" color="primary" mat-raised-button
      matTooltip="Delete">
      <mat-icon>delete</mat-icon>
      Delete
    </button>

  </mat-dialog-actions>
</form>
